.container-fluid .bg-white 
 
{
    display: flex;
    align-items:flex-start;
}

.col-md-4 h5{
    color: black;
    background-position: 0%;
}
.col-md-4 p{
    color: rgb(85, 85, 85);
}
/*.brand div img{
    flex: 1;
    max-width: fit-content;
    min-width:fit-content;
    margin: 1rem;
    padding-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
} */