.container{
    display: inline;
}
.container .head__image img{
    margin-right: 10px;
    max-width: 100%;
    height: auto;
    
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;

    padding: 1rem;
    position:relative;
}

.container .top__text,
.h1{
    padding-left: 1rem;
    position: absolute;
    right: 50%;
    margin-top: auto;
    bottom: auto;
    font-family:serif;
    display:grid;
}
.text__front h1{
    font-size: 24px;
    color:#000000;
    margin-left: auto;
    padding-left: 1rem;
    display: inline;
}
.text__front p{
    font-size: 16px;
    color: dimgrey;
    padding-left: 1rem;
    display:block;
    margin-left: auto;
}


.button__2{
    background-color: rgb(230, 177, 42);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 8%;
       
    font-size: 20px;
    font-family:serif;
    font-weight: 600;
    
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    outline: none;
}

.text__front__2 .section-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(20, 19, 19);
    margin-bottom: 1rem;
}

.text__front__2 .section-text{
    font-family:sans-serif;
}
.text__front__2 .img{
    max-width: 100%;
    height: auto;
    
    padding: 1rem;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display:grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

}

.button{
                background-color:goldenrod;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            
            font-size: 16px;
            font-weight: 600;
            font-weight: 600;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 1rem;
}

.logo__style{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    
}

