.container{
    display: inline;
}
.container .head__image img{
    margin-right: 10px;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    position:relative;
}

.container .top__text,
.h1{
    padding-left: 1rem;
    position: absolute;
    right: 50%;
    margin-top: auto;
    bottom: auto;
    font-family:serif;
    display:grid;
}
.text__front h1{
    font-size: 24px;
    color:#000000;
    margin-left: auto;
    padding-left: 1rem;
    display: inline;
}
.text__front p{
    font-size: 16px;
    color: dimgrey;
    padding-left: 1rem;
    display:block;
    margin-left: auto;
}

.live__button{
    padding-left: 1rem;
}
.text__front__2 .section-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(20, 19, 19);
    margin-bottom: 1rem;
}

.text__front__2 .section-text{
    font-family:sans-serif;
}
.text__front__2 .img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.button{
    background-color:goldenrod;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.logo__style{
    margin: 10px;
}

