.gpt3__navbar {
    display: flex;
}

.gpt3__navbar-links_logo {
    margin-left: 1rem;
}

.gpt3__navbar-links_logo img {
    /* Layout Properties */


    width: 150px;
    height: 50px;
    margin-top: auto;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    float: right;
}



.gpt3__navbar-sign button {
    padding: 0.5rem 1rem;
    color: #050505;
    background: #ffef0b;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: thick;
    outline: thick;
    cursor: pointer;
    border-radius: 5px;
}
